html {
    background-color: rgb(95, 95, 95);
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div {
    display: flex;
}

#calculator,#mainContainer {
    border: 1px solid black;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(155, 155, 155);
}
#mainContainer {
    border: none;
}
#calculator {
    width: fit-content;
    margin: 0 auto;
    background-color:rgb(61, 61, 61);
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
}
#display {
    /* border: 1px dashed rgb(255, 255, 255); */
    margin: 1px;
    padding: 2px 0px;
    flex-direction: column;
    pointer-events: none;
    
}
input {
    width: 200px;
    height: 20px;
    background-color: rgb(155, 155, 155);
    padding: 5px;
    text-align: right;
    border: none;
    /* border-radius: 5px; */
    margin: 0 auto;
    
}
.secondaryDisplay {
    height: 10px;
    font-size: 0.65em;
}
button {
    background-color: hsl(0, 0%, 75%);
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin: 1px;
    /* transition: filter 0.1s; */
    
}
#resultBtn {
    width: 100px;
    background-color: hsl(210, 15%, 55%);
}
#clear,#backspace {
    width: 50px;
    background-color: hsl(210, 15%, 55%);
}

.operator {
    background-color: hsl(220, 15%, 40%);
}
button:hover {
    filter: brightness(1.2);
}
/* button:active {
    filter: brightness(1.5);
} */