html {
    background-color: rgb(95, 95, 95);
}
header {
    margin-bottom: 200px;
}
div {
    display: flex;
}

#calculator,#mainContainer {
    border: 1px solid black;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(155, 155, 155);
}
#mainContainer {
    border: none;
}
#calculator {
    width: fit-content;
    /* padding: 5px; */
    margin: 0 auto;
    /* border: 2px dashed black; */
    background-color:rgb(61, 61, 61);
}
#display {
    /* border: 1px dashed rgb(255, 255, 255); */
    margin: 1px;
    padding: 2px 0px;
    flex-direction: column;
    pointer-events: none;
    
}
input {
    width: 200px;
    height: 20px;
    background-color: rgb(155, 155, 155);
    padding: 5px;
    text-align: right;
    border: none;
    /* border-radius: 5px; */
    margin: 0 auto;
    
}
.secondaryDisplay {
    height: 10px;
    font-size: 0.65em;
}
button {
    background-color: silver;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin: 1px;
    
}

#clear,#resultBtn {
    width: 100px;
    background-color: goldenrod;
}

.operator {
    background-color: gold;
}